//-////////////////////////////////////////////////////////////////////////////
//- VARIABLES
//-////////////////////////////////////////////////////////////////////////////

- var metas = {};

//- Organic metas
- metas.organic = {};
- metas.organic.description = "";
- metas.organic.keywords = "";

//- Open Graph metas (Facebook)
- metas.og = {};
- metas.og._isEnabled = true;
- metas.og.description = "";
- metas.og.image = "@@HTTP_ROOT_DIR/assets/images/socials/facebook/share.jpg";
- metas.og.imageType = "image/jpeg";
- metas.og.locale = "fr_FR";
- metas.og.siteName = "";
- metas.og.title = "";
- metas.og.type = "website";
- metas.og.url = "@@HTTP_ROOT_DIR";

//- Twitter metas
- metas.twitter = {};
- metas.twitter._isEnabled = true;
- metas.twitter.card = "summary";
- metas.twitter.description = "";
- metas.twitter.image = "@@HTTP_ROOT_DIR/assets/images/socials/twitter/share.jpg";
- metas.twitter.title = "";
- metas.twitter.url = "@@HTTP_ROOT_DIR";

block metasVariables

//-////////////////////////////////////////////////////////////////////////////
//- TEMPLATE
//-////////////////////////////////////////////////////////////////////////////

//- Organic metas
meta(name="description", content="#{metas.organic.description}")
meta(name="keywords", content="#{metas.organic.keywords}")

//- Open Graph metas (Facebook)
if metas.og._isEnabled
  meta(property="og:description", content="#{metas.og.description}")
  meta(property="og:image:type", content="#{metas.og.imageType}")
  meta(property="og:image", content="#{metas.og.image}")
  meta(property="og:locale", content="#{metas.og.locale}")
  meta(property="og:site_name", content="#{metas.og.siteName}")
  meta(property="og:title", content="#{metas.og.title}")
  meta(property="og:type", content="#{metas.og.type}")
  meta(property="og:url", content="#{metas.og.url}")

//- Twitter metas
if metas.twitter._isEnabled
  meta(name="twitter:card", content="#{metas.twitter.card}")
  meta(name="twitter:description", content="#{metas.twitter.description}")
  meta(name="twitter:image", content="#{metas.twitter.image}")
  meta(name="twitter:title", content="#{metas.twitter.title}")
  meta(name="twitter:url", content="#{metas.twitter.url}")
